body {
  background-color: rgb(220 220 220);
  color: black;
  font-family: "Arial", "Helvetica", san-serif;
}


div.header {
  font-size: 24;
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color: darkgray;
  height: 85px;

  
}

div.about-me {
  text-align: center;
  display: inline-block; 
  margin-left: 450px;



}
span {
  
}

img {
  width: 200px;
  border-radius: 40%;
  border-style: solid;
  border-color: white;
  border-width: 5px;


}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

div.contact {
  text-align: right;
  
}
