body {
  background-color: rgb(220 220 220);
  color: black;
  font-family: "Arial", "Helvetica", san-serif;
}


div.about-me {
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color: darkgray;
  padding: 0px;
  margin-bottom: 30px;
  height: 280px;
  text-align: center;
  word-wrap: break-word;

}

#aboutme {
  color: black;
  height: 180px;
  max-width: 55%;
  margin-top: -5px;
  margin-left: 375px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
  text-align: center;
  word-wrap: break-word;
  
}


div.header {
  clear: left;
  font-family: sans-serif;
  font-size: 24px;
  text-indent: 40px;
  line-height: .5;
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-color: darkgray;
  height: 85px;

  
}

div.contact {
  text-align: center;
  word-wrap: break-word;
  float: right;
  clear: right;
  border-left: solid;
  border-right: solid;
  border-color: white;
  border-width: 5px;
  width: 25%;
  background-color: darkgray;
  
}

div.skills{
  text-indent: 10px;
  word-wrap: break-word;
  float: right;
  clear: right;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: white;
  border-width: 5px;
  padding: 0px;
  width: 25%;
  background-color: darkgray;
  height: 1250px;
  
}

div.pro-sup {
  border-bottom-style: solid;
  border-width: 5px;
  clear: left;
  width: 50%;
  margin-left: 40px;
  padding-bottom: 40px;
  
}

div.flt-chief {
  border-bottom-style: solid;
  border-width: 5px;
  clear: left;
  width: 50%;
  margin-left: 40px;
  padding-bottom: 40px;
}

div.cc {
  border-bottom-style: solid;
  border-width: 5px;
  clear: left;
  width: 50%;
  margin-left: 40px;
  padding-bottom: 40px;
}


div.edu-his{
  float:left;
  padding: 5px;
  width: 50%;
  margin-top: px;
  margin-left: 40px;
  
}


img {
  float: left;
  width: 197px;
  margin-left: 6px;
  margin-top: 6px;

}

ul {
  padding-top: 20px;
  list-style-type: square;
  
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

  
